* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --text-light: #000000;
  --bg-light: #ffffff;
  --text-dark: #ffffff;
  --bg-dark: #000000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  min-height: 100vh;
}

a {
  color: inherit;
}
