body {
	padding: 4rem;
	color: var(--text-light);
	background-color: var(--bg-light);
}

@media (prefers-color-scheme: dark) {
	body {
		color: var(--text-dark) !important;
		background-color: var(--bg-dark) !important;
	}
}
